<template>

  <v-data-table 
  :headers="headers" 
  :items="threats" 
  :footer-props="{'items-per-page-options':[8]}"
   >
    <template v-slot:item.actions="{item}">
      <v-btn fab text small route :to="'/editThreat/' + item.id" class="mx-2">
        <v-icon small >mdi-pencil</v-icon>
        </v-btn>
      <v-icon small class="mx-2">mdi-delete</v-icon>
      <v-icon small class="mx-2">play_arrow</v-icon>
    </template>
  </v-data-table>


</template>

<script>
import { mapGetters } from "vuex";

export default {
  name:'ThreatList',
  data() {
    return {
        
      headers: [
        {
          text: "שם האיום",

          value: "name",
          sortable: false
        },
        { text: "מספר מסרים", value: "messages",sortable: false },
        { text: "זמן שליחת מסרים", value: "interval",sortable: false },
        { text: "עדכון אחרון", value: "lastUpdated",sortable: false },
        { text: "", value: "actions",sortable: false }
      ]
    };
  },
  computed: {
    ...mapGetters({ threats: "threats/threats" })
  },
  methods: {
    edit(threat) {
        //change later!
      console.log(threat);
    }
  }
};
</script>

<style>
</style>