<template>
  <V-card height="490" class="overflow customScrollbar">
    <v-card-subtitle>כותרת</v-card-subtitle>
    <v-layout column>
      <v-flex xs3>
        <TopSection></TopSection>
      </v-flex>
      <v-flex>
        <MessageList></MessageList>
      </v-flex>
    </v-layout>
  </V-card>
</template>

<script>
import MessageList from "@/components/message_components/MessageList.vue";
import TopSection from "@/components/threat_components/threat_form_sections/TopSection.vue";

export default {
  name: "ThreatForm",
  data() {
    return {
      section1SlotNames: ["rightSnippet", "amountOfMessage", "leftSnippet"]
    };
  },
  components: {
    TopSection,
    MessageList
  }
};
</script>

