<template>
        <FormSection :slotNames="['rightSnippet', 'amountOfMessage', 'leftSnippet']">
          <template #rightSnippet>
            <FormSnippet>
              <TextField :input="threatId" :vuexNamespace="vuexNamespace" />
              <TextField :input="threatName" :vuexNamespace="vuexNamespace" />
            </FormSnippet>
          </template>

          <template #amountOfMessage>
            <FormSnippet>
              <TextField :input="threatsPerSecond" :vuexNamespace="vuexNamespace" />
              <TextField :input="threatDuration" :vuexNamespace="vuexNamespace" />
            </FormSnippet>
          </template>

          <template #leftSnippet>
            <FormSnippet>
              <TextField :input="lastUpdatedThreat" :vuexNamespace="vuexNamespace" />
              <AutoComplete
                :input="receivingReallity"
                :items="realityNames"
                :vuexNamespace="vuexNamespace"
              />
            </FormSnippet>
          </template>
        </FormSection>
</template>

<script>
import FormSection from "@/components/form_sections/FormSection.vue";
import FormSnippet from "@/components/form_sections/FormSnippet.vue";
import TextField from "@/components/form_controls/TextField.vue";
import AutoComplete from "@/components/form_controls/AutoComplete.vue";
import { mapGetters } from "vuex";

export default {
  name: "TopSection",
  data() {
    return {
      vuexNamespace: "threatForm"
    };
  },
  components: {
    FormSection,
    FormSnippet,
    TextField,
    AutoComplete
  },

  computed: {
    ...mapGetters({
      threatId: "threatForm/threatId",
      threatName: "threatForm/threatName",
      threatsPerSecond: "threatForm/threatsPerSecond",
      threatDuration: "threatForm/threatDuration",
      lastUpdatedThreat: "threatForm/lastUpdatedThreat",
      receivingReallity: "threatForm/receivingReallity",
      realityNames: "realities/realityNames"
    })
  }
};
</script>

