<template>
  <v-autocomplete class="mt-3" dense :label="input.label" :items="items"  hide-no-data
  @change="updateValue({input:input, newValue:$event})"></v-autocomplete>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: "AutoComplete",
  props: {
    input: { type: Object },
    vuexNamespace: {type: String},
    items:{type:Array}
  },

  methods:{
    
    ...mapActions({
      updateValue(dispatch, {input, newValue}){
        return dispatch(this.vuexNamespace +'/updateValue', {input, newValue})
      }
    })
 
  }
};
</script>

<style>
</style>