<template>
  <v-text-field class="mt-3" dense :label="input.label"  
  @change="updateValue({input:input, newValue:$event})"></v-text-field>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: "TextField",
  props: {
    input: { type: Object },
    vuexNamespace: {type: String}
  },
  computed:{

  },
  methods:{
    
    ...mapActions({
      updateValue(dispatch, {input, newValue}){
        return dispatch(this.vuexNamespace +'/updateValue', {input, newValue})
      }
    })
 
  }
};
</script>

<style>
</style>