<template>
  <FormSection :slotNames="['rightSnippet','impactSnippet','impactElipseSnippet']">
    <template #rightSnippet>
      <FormSnippet>
        <TextField :input="impactTime" :vuexNamespace="vuexNamespace" />
      </FormSnippet>
    </template>
    <template #impactSnippet>
      <FormSnippet>
        <TextField :input="impactX" :vuexNamespace="vuexNamespace" />
        <TextField :input="impactY" :vuexNamespace="vuexNamespace" />
        <template #button>
          <v-btn icon class="mt-3">
            <v-icon>room</v-icon>
          </v-btn>
        </template>
      </FormSnippet>
    </template>
    <template #impactElipseSnippet>
      <FormSnippet>
        <TextField :input="elipseLength" :vuexNamespace="vuexNamespace" />
        <TextField :input="elipseWidth" :vuexNamespace="vuexNamespace" />
        <template #button>
          <v-btn icon class="mt-3">
            <v-icon>gps_fixed</v-icon>
          </v-btn>
        </template>
      </FormSnippet>
    </template>
  </FormSection>
</template>

<script>
import FormSection from "@/components/form_sections/FormSection.vue";
import FormSnippet from "@/components/form_sections/FormSnippet.vue";
import TextField from "@/components/form_controls/TextField.vue";
import { mapGetters } from "vuex";

export default {
  name: "BottomSection",
  data(){
    return{vuexNamespace:"messageRunner"}
  },
  components: {
    FormSection,
    FormSnippet,
    TextField
  },
  computed: {
    ...mapGetters({
      impactTime: "messageRunner/impactTime",
      impactX: "messageRunner/impactX",
      impactY: "messageRunner/impactY",
      elipseLength: "messageRunner/elipseLength",
      elipseWidth: "messageRunner/elipseWidth"
    })
  }
};
</script>

<style>
</style>