<template>
  <FormSection :slotNames="['rightSnippet', 'launchSnippet']">
    <template #rightSnippet>
      <FormSnippet>
        <TextField :input="launchTime" :vuexNamespace="vuexNamespace" />
        <AutoComplete
          :input="launchingCountry"
          :items="launchingCountryNames"
          :vuexNamespace="vuexNamespace"
        />
      </FormSnippet>
    </template>

    <template #launchSnippet>
      <FormSnippet>
        <TextField :input="launchX" :vuexNamespace="vuexNamespace" />
        <TextField :input="launchY" :vuexNamespace="vuexNamespace" />
        <template #button>
          <v-btn icon class="mt-3">
            <v-icon>room</v-icon>
          </v-btn>
        </template>
      </FormSnippet>
    </template>
  </FormSection>
</template>

<script>
import FormSection from "@/components/form_sections/FormSection.vue";
import FormSnippet from "@/components/form_sections/FormSnippet.vue";
import TextField from "@/components/form_controls/TextField.vue";
import AutoComplete from "@/components/form_controls/AutoComplete.vue";
import { mapGetters } from "vuex";

export default {
  name: "MidSection",
  data() {
    return { vuexNamespace: "messageRunner" };
  },
  components: {
    FormSection,
    FormSnippet,
    TextField,
    AutoComplete
  },
  computed: {
    ...mapGetters({
      launchTime: "messageRunner/launchTime",
      launchingCountry: "messageRunner/launchingCountry",
      launchingCountryNames: "launchingCountries/launchingCountryNames",
      launchX: "messageRunner/launchX",
      launchY: "messageRunner/launchY"
    })
  }
};
</script>

<style>
</style>