<template>
  <FormSection :slotNames="['identificationSnippet','missileSnippet','lastUpdatedSnippet']">
    <template #identificationSnippet>
      <FormSnippet>
        <TextField :input="messageid" :vuexNamespace="vuexNamespace" />
        <AutoComplete :input="receivingReallity" :items="realityNames" :vuexNamespace="vuexNamespace"/>
      </FormSnippet>
    </template>
    <template #missileSnippet>
      <FormSnippet>
         <AutoComplete :input="missileType" :items="tbmKindsNames" :vuexNamespace="vuexNamespace"/>
      </FormSnippet>
    </template>
    <template #lastUpdatedSnippet>
      <FormSnippet>
          <TextField :input="messageLastUpdated" :vuexNamespace="vuexNamespace"/>
      </FormSnippet>
    </template>
  </FormSection>
</template>

<script>
import FormSection from "@/components/form_sections/FormSection.vue";
import FormSnippet from "@/components/form_sections/FormSnippet.vue";
import TextField from "@/components/form_controls/TextField.vue";
import AutoComplete from "@/components/form_controls/AutoComplete.vue";
import {mapGetters} from "vuex"

export default {
  name: "TopSection",
  data() {
    return {
      vuexNamespace: "messageRunner"
    };
  },
  components: {
    FormSection,
    FormSnippet,
    TextField,
    AutoComplete
  },

  computed: {
    ...mapGetters({
      messageid: "messageRunner/messageId",
      receivingReallity: "messageRunner/receivingReallity",
      realityNames: "realities/realityNames",
      missileType: "messageRunner/missileType",
      tbmKindsNames: "tbmKind/tbmKindsNames",
      weaponType: "messageRunner/weaponType",
      messageLastUpdated: "messageRunner/messageLastUpdated"
      
    })
  },

};
</script>

