<template>
  <v-card height="100%" outlined>
    <v-layout align-center fill-height>
      <v-flex xs4 v-for="slotName in slotNames" :key="slotName">
        <slot :name="slotName"></slot>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>

export default {
  name: "FormSection",

  props: {
    slotNames: {
      type: Array,
      default: ()=>[]
    }
  }
};
</script>
