<template>
      <v-card flat class="px-5 py-2"> 
        <v-layout>
          <v-flex xs5>
             <slot></slot>
          </v-flex>
            <v-flex align-center d-flex >
              <slot name="button"></slot>
          </v-flex>
        </v-layout>
      </v-card>
</template>

<script>
export default {
    name:'FormSnippet',
}
</script>

<style>

</style>