<!--<template>
  <v-card flat>
    <FormSection :slotNames="['missleSnippet','flightTimeSnippet', 'timeSnippet']">
      <template #missleSnippet>
        <FormSnippet>
          <v-autocomplete dense :label="missileType.label"></v-autocomplete>
          <v-autocomplete dense :label="weaponType.label"></v-autocomplete>
        </FormSnippet>
      </template>
      <template #flightTimeSnippet>
        <FormSnippet>
          <v-text-field
            dense
            :label="delayFromStart.label"
            @change="updateInputValue(delayFromStart, $event)"
          ></v-text-field>
          <v-text-field
            dense
            :label="timeUntilImpact.label"
            @change="updateInputValue(timeUntilImpact, $event)"
          ></v-text-field>
        </FormSnippet>
      </template>
      <template #timeSnippet>
        <FormSnippet>
          <v-text-field
            dense
            :label="launchTime.label"
            @change="updateInputValue(launchTime, $event)"
          ></v-text-field>
          <v-text-field
            dense
            :label="messageLastUpdated.label"
            @change="updateInputValue(messageLastUpdated, $event)"
          ></v-text-field>
        </FormSnippet>
      </template>
    </FormSection>

    <FormSection :slotNames="['launchSnippet', 'impactSnippet', 'impactElipse']">
      <template #launchSnippet>
        <FormSnippet>
          <v-text-field dense :label="launchX.label" @change="updateInputValue(launchX, $event)"></v-text-field>

          <v-text-field dense :label="launchY.label" @change="updateInputValue(launchY, $event)"></v-text-field>
          <template #button>
            <v-btn icon>
              <v-icon>room</v-icon>
            </v-btn>
          </template>
        </FormSnippet>
      </template>

          
      <template #impactSnippet>
        <FormSnippet>
          <v-text-field dense :label="impactX.label" @change="updateInputValue(impactX, $event)"></v-text-field>

          <v-text-field dense :label="impactY.label" @change="updateInputValue(impactY, $event)"></v-text-field>
          <template #button>
            <v-btn icon>
              <v-icon>room</v-icon>
            </v-btn>
          </template>
        </FormSnippet>
      </template>

       <template #impactElipse>
        <FormSnippet>
          <v-text-field dense :label="elipseLength.label" @change="updateInputValue(elipseLength, $event)"></v-text-field>

          <v-text-field dense :label="elipseWidth.label" @change="updateInputValue(elipseWidth, $event)"></v-text-field>
          <template #button>
            <v-btn icon>
              <v-icon>room</v-icon>
            </v-btn>
          </template>
        </FormSnippet>
      </template>
    </FormSection>

  

  </v-card>
</template>

<script>
import Inputs from "@/mixins/Inputs.vue";
import FormSection from "@/components/FormSection.vue";
import FormSnippet from "@/components/FormSnippet.vue";

//not done yet wont work
export default {
  name: "MessageForm",
  mixins: [Inputs],
  components: {
    FormSection,
    FormSnippet
  }
};
</script>

<style>
</style>-->