<!--<template>
  <v-card>
    <v-data-table :items="messages" :headers="headers" hide-default-footer :footer-props="{'items-per-page-options':[-1]}" show-expand>
      <template #expanded-item="{headers}">
        
      <td :colspan="headers.length"> 
  <MessageForm></MessageForm>
      </td>
          
      </template>
    </v-data-table>
     <v-btn fab top absolute left><v-icon>add</v-icon></v-btn>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";
import MessageForm from '@/components/MessageForm.vue'
//not done yet wont work
export default {
  name: "MessageList",
  data() {
    return {
      headers: [
        {
          text: "סוג טיל",

          value: "tbmKind",
          sortable: false
        },
        { text: "השהייה", value: "delayFromStart", sortable: false },
        { text: "זמן מעוף", value: "timeUntilImpact", sortable: false },
        { text: "מדינה משגרת", value: "launchCountry", sortable: false }
        // { text: "", value: "actions",sortable: false }
      ]
    };
  },
  components: {
    MessageForm
  },
  computed: {
    ...mapGetters({ messages: "messages/messageData" })
  }
};
</script>

<style>

.expanded-item {
  max-width: 620px;
  max-height: 700px;
}
</style>-->