<template>
  <v-form ref="form" :lazy-validation="lazy" v-model="valid">
  <v-card>
    
<TopSection></TopSection>

 <MidSection></MidSection>

<BottomSection></BottomSection>

    <v-btn @click="createMessage">הרץ מסר בודד</v-btn>
    <v-btn>הרץ מסר ביטול</v-btn>
  </v-card>
  </v-form>
</template>



<script>

import TopSection from '@/components/message_components/message_runner_sections/TopSection.vue'
import MidSection from '@/components/message_components/message_runner_sections/MidSection.vue'
import BottomSection from '@/components/message_components/message_runner_sections/BottomSection.vue'
import {mapActions} from "vuex"

export default {
  name: "MessageRunner",
  data() {
    return {
  
       valid: true,
      lazy: false,
    };
  },
  components: {
    TopSection,
    MidSection,
    BottomSection
  },
 
 computed:{
  
 },
   methods:{
    ...mapActions({createMessage:"messageRunner/createMessage"})
  }
};
</script>
