<template>
  <v-app>
<TopNav></TopNav>
    <v-layout>
      <v-flex cols="9">
        <router-view></router-view>
      </v-flex>
      <v-flex xs3 v-if="!$route.meta.isExpanded"></v-flex>
    </v-layout>
  </v-app>
</template>

<script>
import TopNav from '@/models/TopNav.vue'
export default {
    name: 'Shell',
    components:{
      TopNav
    }

};
</script>

<style>
html {
  overflow: hidden;
}
.overflow {
  overflow-y: scroll;
}
.customScrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
.customScrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(105, 105, 105);
}
</style>