<template>
  <v-card>
      <ThreatList></ThreatList>
      <v-btn fab top absolute left><v-icon>add</v-icon></v-btn>
  </v-card>
</template>

<script>
import ThreatList from '@/components/threat_components/ThreatList.vue'
export default {
    name:'Threats',
    components:{
        ThreatList
    }

}
</script>

<style>

</style>