<template>
      <v-card>
      <v-toolbar flat>
        <v-icon large>🚀</v-icon>
        <v-toolbar-title class="headline mr-3 mt-4">בלרינה</v-toolbar-title>
     
      </v-toolbar>
      <v-tabs class="mt-4" hide-slider>
        <v-tab route to="/messageRunner">הרצת מסר בודד</v-tab>
        <v-tab route to="/threats">איומים</v-tab>
         <v-tab v-show="this.$route.path.includes('/editThreat')" 
         class="v-tab--active" >עריכת איום</v-tab>
      </v-tabs>
      
    </v-card>
</template>

<script>
export default {
    name:'TopNav'

}
</script>

<style>

</style>